<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Firebase Integration</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>firebase_integration</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <!-- Google Sign-In Section -->
    <key>GIDClientID</key>
    <string>741927282076-gdi7h7kurm5gjfnr3hjj3g2ngmjma7uu.apps.googleusercontent.com</string>
    
    <key>GIDServerClientID</key>
    <string>[YOUR SERVER CLIENT ID]</string> <!-- Optional: Add if you have a server client ID -->
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.741927282076-gdi7h7kurm5gjfnr3hjj3g2ngmjma7uu</string>
            </array>
        </dict>
    </array>
    <!-- End of Google Sign-In Section -->

    <!-- Additional Google Configuration -->
    <key>CLIENT_ID</key>
    <string>741927282076-gdi7h7kurm5gjfnr3hjj3g2ngmjma7uu.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.741927282076-gdi7h7kurm5gjfnr3hjj3g2ngmjma7uu</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>741927282076-f54m2no8692dqs4o6tafo09rknqk0jeo.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBfA9Oe57CDBkPvvDl0vGsP6ganKygXfxI</string>
    <key>GCM_SENDER_ID</key>
    <string>741927282076</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.firebaseIntegration</string>
    <key>PROJECT_ID</key>
    <string>final-ec753</string>
    <key>STORAGE_BUCKET</key>
    <string>final-ec753.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:741927282076:ios:d0437c5678e75c7ee95459</string>
</dict>
</plist>
